#logo {
    padding: 5px;
}

.user-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    width: 100%;
}

#uploadICON {
    padding-top: 7px;
    float: left;
    font-family: 'Times New Roman', Times, serif;
}

#FullTime {
    padding-top: 4px;
    padding-right: 10px;
    float: left;
}

#notiICON {
    padding-top: 3px;
    padding-left: 3px;
    float: right;
}

.user-item {
    position: relative;
}

.userdropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}

.user-item:hover .userdropdown-menu {
    display: block;
    color: #1F1F1F;
    background-color: transparent;
    font-weight: 800;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.userpopup {
    padding-top: 4px;
    display: inline-block;
    color: #6c757d;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.usermenuitem {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.usermenuitem:hover {
    color: #1f1f1f;
    background-color: transparent;
}

.userdropdown-menu a {
    text-decoration: none;
    white-space: nowrap;
}