<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Majesty System
    </title>
    <link href="../static/img/logo.png" rel="icon" type="image/x-ico"/>
    <script src="../static/js/jquery-3.6.0.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.js" type="text/javascript"></script>
    <script src="../static/js/sweetalert2.js"></script>

</head>
<body>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../static/css/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../static/css/sweetalert2.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img height="35px" id="logo" src="../static/img/logo_65x45.png" width="50px">
        </a>
        <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarColor01" data-bs-toggle="collapse"
                type="button">
					<span class="navbar-toggler-icon">
					</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">系统主页<span class="visually-hidden">(当前)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">人才资料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">公司资料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">项目资料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">资料报表</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown" href="#" id="userDropdown" role="button">其他功能</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">迈云盘</a>
                        <a class="dropdown-item" href="#">迈斯社</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">公共池</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link"
                       data-bs-toggle="dropdown" href="#" id="addDropdown" role="button"><img height="15px" src="../static/img/upload.svg" width="15px"/></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">新增人才</a>
                        <a class="dropdown-item" href="#">新增公司</a>
                        <a class="dropdown-item" href="#">新增项目</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">解析附件</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right-panel" id="right-panel">
            <div id="FullTime">
                <script>setInterval("document.getElementById('FullTime').innerHTML=new Date().toLocaleString();", 1000);</script>
            </div>
            <div id="notiICON"><img height="14px" src="../static/img/notice.svg" width="20px"/></div>
            <ul class="userbar">
                <li class="user-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="userpopup"
                       data-bs-toggle="dropdown" href="#" role="button">-请登录-</a>
                    <div class="userdropdown-menu">
                        <a class="myinfo" href="#">我的信息</a>
                        <a class="settings" href="#">相关设置</a>
                        <a class="logout" href="#">退出登录</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>

</html>